#googleMap {
	width: 650px;
	height: 380px;
}

#datepicker {
	margin-top: 10px;
}

#trendsLineChart {
	width: 800px;
	height: 400px;
}

#topicsTrendsLineChart {
	width: 650px;
	height: 400px;
}

#my-btn-group-vertical {
	vertical-align: top;
}

#mybtn-table {
	color: black;
	background-color: #f9f9f9;
	border: 0px;
}

.my-btn-group-font {
	font-size: 14px;
}

.btn:hover {
  background-color: #88eeee;
  color: black;
}

.block-center {
	width: 1350px;
	margin-left: auto;
	margin-right: auto;
}

.block-center .float-left {
	float: left;
	margin-right: 10px;
}



.block-center .bot-block {
	margin-top: 10px;
}

.block-documents {
	width: 1100px;
	margin-left: auto;
	margin-right: auto;
}

.kl-table {
	margin-top: 40px;
}