#googleMap {
	width: 650px;
	height: 380px;
}

#datepicker {
	margin-top: 10px;
}

.block-center {
	width: 1050px;
	margin-left: auto;
	margin-right: auto;
}

.block-center .float-left {
	float: left;
	margin-right: 10px;
}

.block-center .bot-block {
	margin-top: 10px;
}

.block-documents {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}