{{define "documentPage"}}
<!DOCTYPE html>
<html>
	{{template "header"}}
<body>
	<div class="block-documents">
		<div>
			{{with .NewsDoc}}
			<h2> <strong>{{if .Title}}
						{{.Title}}
					{{else}}
						No Title
					{{end}}</strong> 
			</h2>
			<h3>{{.TimeStamp}}</h3>
			<h4>Category: {{.Category}}</h4>
			<blockquote>
				<p>{{.MainStory}}</p>
			</blockquote>
			<small>
				This is from {{.Source}}.
				<br/>
				Go to
				<a href="{{.URL}}">
					<cite title="source page">source page</cite>
				</a>
			</small>
			{{end}}
		</div>

		<div id="trendsInfo" data-info="{{.EntitiesTrends.EntityTrendOnTime}}"></div>
		<hr>
		<div class="my-block-entities">
			<div id="my-btn-group-vertical" class="btn-group-vertical">
				{{with .EntitiesTrends}}
					{{range $k, $v := .EntityTrendOnTime}}
				<a href="javascript:showMyTrend( '{{$k}}' )" class="btn btn-default">{{$k}}</a>
				{{end}}
				{{end}}
			</div>
			<canvas id="trendsLineChart"></canvas>
		</div>
	</div>
</body>
	<footer>
		<script src="/static/js/myCharts.js"></script>
	</footer>
</html>
{{end}}