{{define "header"}}
<head>
<title>GMS</title>
<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="/static/css/mystyle.css">

<link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

<!-- <script src="//code.jquery.com/jquery-1.11.3.min.js"></script> -->
<!-- <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script> -->
<script src="/static/js/jquery-1.11.3.min.js"></script>
<script src="/static/js/map.js"></script>
<script src="/static/js/Chart.js"></script>
<script src="/static/js/d3.js"></script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyADsT5DP4a9MI8ksS0d0YFP6di0ZkuxtNY"></script>

<!-- Common Views -->
<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="/">Welcome to TDT Project</a>
		</div>
	</div>
</nav>
</head>
{{end}}