{{define "indexPage"}}
<!DOCTYPE html>
<html>
	{{template "header"}}
<body onload="initialize()">
	<div class="block-center">
		<div>
			<div class="btn-group-vertical float-left">
				{{with .TopicsModels}}
					{{range $k, $v := .Topics}}
				<a href="/topic?keywords={{$v}}" class="btn btn-default" onmouseover="showMyTopicTrend( '{{$k}}' )">{{$v}}</a>
				{{end}}
					{{end}}
				<p>
					Date:
					<input type="text" id="datepicker"></p>
			</div>
			<!-- <div id="googleMap"></div>
		-->
		<div>
			<div id="topicsTrendsInfo" data-info="{{.TopicsTrends.TopicCount}}"></div>
			<canvas id="topicsTrendsLineChart"></canvas>
		</div>
	</div>

	<div class="bot-block">Global Semantic Graph</div>
</div>
</body>
<footer>
	<script src="/static/js/myTopicCharts.js"></script>
</footer>
</html>
{{end}}